{{- $lang := .Type | default "text" }}
{{- $title := (split (.Attributes.title | default "") ";") }}
{{- $titleText := (trim (index $title 0 | default "") " ") }}
{{- $titleShowName := (trim (index $title 1 | default "true") " ") }}
{{- $titleName := (trim (index $title 2 | default "文件：") " ") }}
<div class="custom-highlight-wrapper">
{{- if gt (len $titleText) 0 }}
    <div class="custom-highlight-title">
        {{- if eq $titleShowName "true" }}
        <strong>{{- $titleName }}</strong>
        {{- end }}
        {{ $titleText }}
    </div>
{{- end }}
{{ highlight .Inner $lang .Options }}
</div>
